/* 공통 */
*{padding: 0; margin: 0;}
li{list-style: none;}
a{text-decoration: none;}
body, div, p, li, a{font-family: Arial, Helvetica, sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #333;
  line-height: 140%;
}  

img {object-fit: cover;}

/* 콘텐츠 시작 */
.wrap{
    width: 1400px; margin: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
}

/* header */
header{position: relative; margin-left: 350px;}
li{float: left; background-color: #87d197;}
li:nth-child(2n){background-color: #95e3c5;}

li:first-child{border-radius: 10px 0 0 10px;}
li:first-child a:hover{border-radius: 10px 0 0 10px;}

li:last-child{border-radius: 0 10px 10px 0;}
li:last-child a:hover{border-radius: 0 10px 10px 0;}

li > a{ padding: 16px 70px; display: block; color: #fff;}
li > a:hover{ background-color: red;}

/* 가운데 cont */

.cont{
    position: relative;
}
    /* cont1 */
    .cont1{position: relative; width: 1400px; height: 800px; top: 100px;}
        .photo1{position: absolute;
                box-shadow: 8px 8px 12px #999;}


        .photo1 > div {width: 600px; height: 600px;overflow: hidden;}
        .photo1 > div > img {width: 600px; height: 600px; object-fit: cover;}
        .photo1 > div > img:hover {transform: scale(1.2, 1.2); transition: all 0.4s;}

           .txt{position: absolute; left:500px; width: 700px; margin-left: 150px;}
          .txt>h2{margin-bottom: 22px; margin-top: 5px;}


            .btn > a{padding: 8px 50px; background-color: #eee; border: 2px dotted red; margin-top: 50px; display: inline-block;}
            .btn > a:hover{background-color: red; color: #ffcece; transition: all 0.6s;}

    /* 포토갤러리 자리 */
    .photo2{position: relative; top: 10px; margin-bottom: 50px;}
        .photo2 div{display: inline-block; width: 264px; height: 180px; box-shadow: 4px 4px 9px #777; margin-right: 12px; overflow: hidden;}
        .photo2 img{width: 264px; height: 180px;}
        .photo2 img:hover{transform: scale(1.2, 1.2); transition: all 0.4s;}

/* cont2 */
.cont2{width: 100%; height: 900px; background-color: #95e3c5; position: relative; margin-bottom: 100px;}
/* .cont2 .cont2_txt1{position: absolute; font-family: "Allerta Stencil", sans-serif;
  font-weight: 400; font-size: 300px; top: 200px; } */
.cont2 .cont2_img{position: absolute; left: -15%;}
.cont2 .cont2_img img{width: 80%;}
.cont2 .cont2_txt2{position: absolute; font-family: "Jua"; font-weight: 400; font-style: normal; font-size: 70px; color: rgb(255, 255, 255); top: 500px; right: 8%;}  

/* cont3 */
.cont3{display: flex; flex-wrap: wrap; gap:20px; justify-content: center; position: relative; margin-bottom: 70px;}
.cont3 .cont3_txt{position: absolute; top: -60px; font-size: 20px;}
.cont3 img{width: 400px; height: 300px; background-color: #eee;}
.cont3 img:hover{transform: scale(1.02, 1.02); transition: all 0.4s; opacity: 0.8;}

/* video */
.video{margin-left: 250px; margin-bottom: 100px;}

/* cont4 */
.cont4{display: flex; background-color: #acffd8;}  
.cont4 img{overflow: hidden;}

/* footer */
footer{display: flex; width: 100%; height: 150px; margin-top: 40px; }
footer .footer1{margin: 0 100px 0 100px;}
footer .footer2{width: 80%; margin-right: 100px;}
















